.sidebar {
  background:lighten(#0b0c0c, 15%);
  padding-top:20px;
  padding-bottom:20px;

  .widget {
    color:#fff;
    h3 {
      color: #fff;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .sidebar {
    position: fixed;
    height:100%;
  }
  .widget_bug {
    position: absolute;
    bottom:50px;
  }
}
